/*Home-filling*/
.introduction{
    margin: 0;
    background-color: var(--secondary-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
    gap: 2em;
}
.introduction .block{
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: var(--backdrop);
    margin: 0 3em;
    padding: 3em 2.5em 2.5em 2.5em;
}
.block .content{
    display: flex;
    justify-content: center;
    gap: 2em;
}
.block .content img{
    width: 30em;
}
.block .title{
    margin: 0;
    text-align: center;
    font-size: 2em;
}
.block p{
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.4;
}