#services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 70px 30px;
    gap: 30px;
}
.gridItem{
    text-align: center;
    background-color: var(--nav-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#services-container img{
    width: 25vw;
}